@model ProductManagement.Models.Product.ViewProduct
@using System.Globalization


@{
    ViewData["Title"] = "View";
    string FormatCurrency(double number)
    {
        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
        return number.ToString("#,###", cul.NumberFormat);
    }
    var discount = Model.Discount * 100;
}



<div class="main-grid">
    <div>
        <a class="btn btn-link" asp-controller="Product" asp-action="Index" asp-route-catId="@ViewBag.CategoryId">Back to @Model.Category.CategoryName</a>
    </div>
    <h1>@Model.ProductName</h1>
    <hr />
    <div class="row">
        <dl class="row col-md-6">
            <label class="col-sm-2">ProductID</label>
            <p class="col-sm-10">@Model.ProductId</p>
            <label class="col-sm-2">ProductName</label>
            <p class="col-sm-10">@Model.ProductName</p>
            <label class="col-sm-2">Infomation</label>
            <p class="col-sm-10">@Model.Infomation</p>
            <label class="col-sm-2">PublishYear</label>
            <p class="col-sm-10">@Model.PublishYear</p>
            <label class="col-sm-2">Quantity</label>
            <p class="col-sm-10">@Model.Quantity</p>
            <label class="col-sm-2">Price</label>
            <p class="col-sm-10">@FormatCurrency((double)Model.Price) vnđ</p>

            <label class="col-sm-2">Discount</label>
            <p class="col-sm-10">@discount%</p>
        </dl>
        <div class="form-group col-md-6">
            <input type="hidden" asp-for="@Model.ProductId" />
            <img class="img-thumbnail no-photo" src="@Model.ExistPhoto" alt="no photo" />
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <a class="btn btn-danger btn-sm" asp-controller="Product" asp-action="Remove" asp-route-productId="@Model.ProductId" onclick="return confirm('Are you sure you want to Remove?');">
                <i class="fas fa-trash">
                </i>
                Remove
            </a>
            <a class="btn btn-info btn-sm" asp-controller="Product" asp-action="Modify" asp-route-productId="@Model.ProductId">
                <i class="fas fa-pencil-alt">
                </i>
                Edit
            </a>
        </div>
    </div>
</div>

