@model ProductManagement.Models.Product.ViewProduct
@using System.Globalization


@{
    ViewData["Title"] = "View";
    string FormatCurrency(double number)
    {
        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
        return number.ToString("#,###", cul.NumberFormat);
    }
    var discount = Model.Discount * 100;
    var cat = Model.Category;
}



<div class="main-grid">
    <h1>@Model.ProductName</h1>
    <hr />
    <div class="row">
        <dl class="row col-md-6">
            <label class="col-sm-2">ProductID</label>
            <p class="col-sm-12">@Model.ProductId</p>
            <label class="col-sm-2 ">ProductName</label>
            <p class="col-sm-12">@Model.ProductName</p>
            <label class="col-sm-2">Infomation</label>
            <p class="col-sm-10 mr-5">@Model.Infomation</p>
            <label class="col-sm-2">PublishYear</label>
            <p class="col-sm-11">@Model.PublishYear</p>
            <label class="col-sm-2">Quantity</label>
            <p class="col-sm-10">@Model.Quantity</p>
            <label class="col-sm-2">Price</label>
            <p class="col-sm-10">@FormatCurrency((double)Model.Price) vnđ</p>

            <label class="col-sm-2">Discount</label>
            <p class="col-sm-10">@discount%</p>
        </dl>
        <div class="form-group col-md-6">
            <input type="hidden" asp-for="@Model.ProductId" />
            <img class="img-thumbnail no-photo" src="@Model.ExistPhoto" alt="no photo" />
        </div>
        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="AddToCart" asp-route-productId="@Model.ProductId">Add to cart</a></div>
        </div>
    </div>
   
</div>

