@model List<Category>
@using System.Globalization
@{
    ViewBag.Title = "Home";

    string FormatCurrency(double number)
    {
        CultureInfo cul = CultureInfo.GetCultureInfo("vi-VN");
        return number.ToString("#,###", cul.NumberFormat);
    }

}
@foreach (Category cat in Model)
{
    if (cat.Products.Count != 0 && cat.CategoryId == 2)
    {
        <div class="product-sec1 px-sm-4 px-3 py-sm-5  py-3 mb-4" style="background-color:azure">
            <h3 class="heading-tittle text-center font-italic">@cat.CategoryName</h3>
            <div class="row">
                @foreach (Products product in cat.Products)
                {
                    if (!product.IsDeleted)
                    {
                        <div class="col-md-4 product-men mt-5">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item text-center">
                                    <img class="img-fluid" style="width:202px; height:249px; object-fit: contain" src="@Url.Content(product.Photo)" alt="@product.ProductName">

                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a asp-controller="Home" asp-action="View" asp-route-productId="@product.ProductId" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info-product text-center border-top mt-4">
                                    <h4 class="pt-1">
                                        <a href="single.html">@product.ProductName</a>
                                    </h4>
                                    <div class="info-product-price my-2">
                                        <span class="item_price">@FormatCurrency((double)product.Price)$</span>
                                        @if (product.Discount != 0)
                                        {
                                            var oldPrice = Math.Floor(product.Price * product.Discount) + product.Price;
                                            <del style="color:red">@FormatCurrency((double)oldPrice) đ</del>
                                        }
                                    </div>
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" asp-controller="Home" asp-action="AddToCart" asp-route-productId="@product.ProductId">Add to cart</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-md-4 product-men mt-5">
                            <div class="men-pro-item simpleCart_shelfItem">
                                <div class="men-thumb-item text-center">
                                    <img class="img-fluid" style="width:202px; height:249px; object-fit: contain" src="@Url.Content(product.Photo)" alt="@product.ProductName">

                                    <div class="men-cart-pro">
                                        <div class="inner-men-cart-pro">
                                            <a asp-controller="Home" asp-action="View" asp-route-productId="@product.ProductId" class="link-product-add-cart">Quick View</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="item-info-product text-center border-top mt-4">
                                    <h4 class="pt-1">
                                        <a href="single.html">@product.ProductName</a>
                                    </h4>
                                    <div class="info-product-price my-2">
                                        <span class="item_price">@FormatCurrency((double)product.Price)$</span>
                                        @if (product.Discount != 0)
                                        {
                                            var oldPrice = Math.Floor(product.Price * product.Discount) + product.Price;
                                            <del style="color:red">@FormatCurrency((double)oldPrice) đ</del>
                                        }
                                    </div>
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto">Stop business</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    }

}

